.container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.item {
  width: calc(100% / 16);
  padding-bottom: calc(100% / 16);
  background-color: #ccc;
  border: 1px solid #fff;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
}

button {
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: large;
}
